.content {
  justify-content: left;
  margin-bottom: 92px;
  margin-right: calc(302 / 1200 * 100%);
}
.content__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  leading-trim: NONE;
  line-height: 58px;
  letter-spacing: 0%;
  max-width: 984px;
  font-style: bold;
  margin: 0;
}
.content__quote {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 34px;
  letter-spacing: 0%;
  margin: 40px 0 10px;
}
.content__quote-author {
  font-family: "Inter", Arial, sans-serif;
  display: block;
  font-weight: 400;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
}
.content__text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 163%;
  letter-spacing: 0%;
  margin: 32px 0 0;
}
@media screen and (max-width: 768px) {
  .content {
    margin: 0 auto;
    padding: 0 24px 88px;
    justify-content: center;
  }
  .content__title {
    font-size: 45px;
    leading-trim: NONE;
    line-height: 49px;
    letter-spacing: 0%;
  }
  .content__quote {
    font-size: 24px;
    leading-trim: NONE;
    line-height: 34px;
    letter-spacing: 0%;
  }
  .content__quote-author {
    font-size: 24px;
    leading-trim: NONE;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
  }
  .content__text {
    font-size: 16px;
    leading-trim: NONE;
    line-height: 163%;
    letter-spacing: 0%;
  }
}
@media screen and (max-width: 320px) {
  .content__title {
    font-size: 32px;

    line-height: 35px;
  }
  .content__quote {
    font-size: 24px;

    line-height: 30px;
  }
}
