.photo-grid {
  margin-bottom: 92px;
  padding: 0 53px 0 43px;
}

.photo-grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
  max-height: 442px;
  max-width: 100%;
}

.photo-grid__image {
  width: 100%;
  max-height: 213px;
  object-fit: cover;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .photo-grid__container {
    grid-template-columns: repeat(2, 1fr);
    max-height: none;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    margin-bottom: 62px;
    padding: 0 14px 0 14px;
  }
  .photo-grid__container {
    grid-template-columns: 1fr;
    max-height: none;
  }
}
